#broadcastMessage {
	height: 10%;
	width: 100%;
	bottom: 0;
	font-size: 18px;
	resize: none;
	box-shadow: 0 0 10px #555;
}

#historyMsg {
	border: 2px solid;
	border-color: #026597;
	height: 350px;
	overflow: auto;
	padding: 2px;
	width: 100%;
	bottom: 0;
	background-image: url(../img/messageBg.jpg);
	background-size: 100% 100%;
	box-shadow: 0 0 10px #555;
}

#emojiWrapper {
	position: fixed;
	height: 150px;
	width: 25%;
	right: 17%;
	bottom: 0;
	box-shadow: 0 0 10px #555;
	display: none;
	background-color: #fff;
}

#emojiWrapper img {
	margin: 2px;
	padding: 2px;
	width: 25px;
	height: 25px;
}

#emojiWrapper img:hover {
	background-color: blue;
}

.emoji {
	display: inline;
	width: 30px;
	height: 30px;
}

.sort {
	width: 20px;
	height: 20px;
	cursor: pointer;
	box-shadow: 0px 1px 5px 1px #000;
	margin: 0 0 0 5px;
	border-radius: 3px;
}